<!DOCTYPE html>
<html ng-app="Off2On">
<head>
<meta charset="ISO-8859-1">
<title>Off2On</title>
<title ng-bind="title">Certify To Sell</title>
<link href="src/Content/Style.css" rel="stylesheet" />
<link href="src/Content/Frameworks/Bootstrap/bootstrap.min.css" rel="stylesheet" />
<script src="src/Scripts/Libraries/AngularJS/angular.min.js"></script> 
<script src="src/Scripts/Libraries/Jquery/jquery-3.1.1.min.js"></script> 
<script src="src/Scripts/Libraries/Bootstrap/bootstrap.min.js"></script> 
<script src="src/Scripts/Libraries/AngularJS/app.js"></script> 
</head>
<body ng-controller="Off2OnController as O2O">

</body>
</html>